<footer class="footer">
  <div class="container container__footer">
    <div class="image-container__footer">
      <%= image_tag 'contactapp.png', alt: 'Contact app footer logo', class: 'image-footer' %>
    </div>
    <p class="disclaimer__footer">Built with <%= fa_icon 'heart', class: 'icon-heart' %> by a passionate developer</p>
  </div>
</footer>
