<header class="navbar fixed-top">
  <nav class="container">
    <%= link_to root_path, class: 'header-image-link' do %>
      <%= image_tag 'contactapp.png', alt: 'Contactapp logo', class: 'header-logo d-inline-block align-top' %>
    <% end %>
  </nav>
</header>
