<section class="hero__home">
  <div class="container">
    <h1 class="hero-title"><%= t('hero.title') %></h1>
    <p class="hero-description"><%= t('hero.subtitle') %></p>
  </div>
  <button id="heroCta" type="button" name="hero-cta" class="hero-cta">
    <span><%= t('hero.cta') %></span>
    <%= fa_icon 'angle-down' %>
  </button>
</section>
