.navbar {
  background-color: transparent;
}

.header-image-link {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 60px;
  overflow: hidden;
  width: 60px;
}

.header-logo {
  width: 120px;
}

.contacts-header-link {
  margin-right: 10px;
}
