.input-text {
  border-style: none none solid;
  outline: none;
  width: 100%;
}

.input-text-focused {
  border-bottom-color: $apple;
}

.form-input__auth {
  background-color: $white;
  border-radius: 5px;
  border: 1px solid;
  width: 100%;
}
